@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home";
}
<h2>Welcome to LMS</h2>

<p>Use seeded accounts (Email / Password):</p>
<ul>
    <li>Admin: admin@lms.com / Admin123!</li>
    <li>Instructor: instructor@lms.com / Instructor123!</li>
    <li>Student: student@lms.com / Student123!</li>
</ul>


