<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/css/MainStyleSheet.css" asp-append-version="true" /> *@
    <link href="~/css/mainstylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/LMS.Web.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
   
    <header>
    @await Html.PartialAsync("_Navbar")  <!-- Role-based navbar -->
    </header>

    <main role="main" class="flex-fill">
        <div class="container py-4">
            @RenderBody()
        </div>
    </main>

    <footer class="bg-dark-subtle text-dark text-center py-3 mt-auto">
        <div class="container">
            &copy; 2025 - LMS.Web - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
